body {
  margin: 0;
}

h1 {
  margin: 0;
  padding: 10px;
}

.controls {
  display: flex;
  align-items: center;

  &__item {
    padding: 10px;
  }
}

button {
  padding: 10px;
  cursor: pointer;
}

.icon_hover {
  cursor: pointer;
  transition: all .5s ease;

  &:hover {
    fill: #f05;
    stroke-width: 2px;
    stroke: #446ecc;
    transform: scale(1.5);
  }
}
