.icon {
  display: inline-block;
  fill: currentColor;
}

.icon_empty {
  width: 60px;
  height: 60px;
}

.icon_add {
  width: 12px;
  height: 12px;
}

.icon_book {
  width: 31px;
  height: 34px;
}

.icon_vip {
  width: 120px;
  height: 120px;
}

.icon_clock {
  width: 14px;
  height: 14px;
}
